@let l = left();
@let r = right();

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="200ms">

  <!-- Tab: Overview -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="inline-flex items-center gap-1.5"><mat-icon class="!text-lg">dashboard</mat-icon> Overview</span>
    </ng-template>
    <app-compare-tab-overview [left]="l" [right]="r" />
  </mat-tab>

  <!-- Tab: Profile -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="inline-flex items-center gap-1.5"><mat-icon class="!text-lg">person</mat-icon> Profile</span>
    </ng-template>
    <app-compare-tab-profile [left]="l" [right]="r" />
  </mat-tab>

  <!-- Tab: Prescriptions -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="inline-flex items-center gap-1.5"><mat-icon class="!text-lg">medication</mat-icon> Prescriptions</span>
    </ng-template>
    <app-compare-tab-prescriptions [left]="l" [right]="r" />
  </mat-tab>

  <!-- Tab: Plans & Pharmacy -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="inline-flex items-center gap-1.5"><mat-icon class="!text-lg">local_pharmacy</mat-icon> Plans & Pharmacy</span>
    </ng-template>
    <app-compare-tab-plans-pharmacy [left]="l" [right]="r" />
  </mat-tab>

  <!-- Tab: Cost Analysis (lazy-loaded) -->
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="inline-flex items-center gap-1.5"><mat-icon class="!text-lg">analytics</mat-icon> Cost Analysis</span>
    </ng-template>
    <ng-template matTabContent>
      <app-compare-tab-cost-analysis [left]="l" [right]="r" />
    </ng-template>
  </mat-tab>
</mat-tab-group>
