:host ::ng-deep .mat-mdc-tab.mdc-tab--active {
  background-color: var(--color-cyan-600);
  border-radius: 0.5rem 0.5rem 0 0;
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #ffffff !important;
}

:host ::ng-deep .mat-mdc-tab.mdc-tab--active .mat-icon {
  color: #ffffff !important;
}
